<div class="absolute top-8 flex items-center">
  <%= image_tag 'https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/grinning-face-with-smiling-eyes_1f604.png', class: 'h-10 w-10' %>
</div>
<%= image_tag "carpe-diem-logo.png", class: 'md:max-w-md self-center' %>

<div class="actions absolute bottom-4 w-10/12 self-center">
  <%= link_to new_user_session_path, class: 'group rounded-lg mb-4 flex items-center bg-main p-3 justify-center border hover:border-main hover:bg-transparent' do %>
    <span class="group-hover:text-main text-white uppercase font-semibold">Log In</span>
  <% end %>
  <%= link_to new_user_registration_path, class: 'group rounded-lg flex items-center bg-main p-3 justify-center border hover:border-main hover:bg-transparent' do %>
    <span class="group-hover:text-main text-white uppercase font-semibold">Register</span>
  <% end %>
</div>